*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Open Sans'; */
}
body{
    background-color: #f2f2f2;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.cont-p--hidden{
    display: none;
}
