*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Open Sans'; */
}
body{
    background-color: #f2f2f2;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}

nav {
    background-image: url("../resources/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.init {
    font-size: 27px;
}

.navbar-brand {
    font-family: 'Open Sans';
}

.btn-p{
    background-color: #d62121;
    font-size: 16px;
    padding: 9px 23px;
    border-radius: 12px;
    border: 2px solid #d62121;
}
.blur{
    background: rgba(132, 14, 14, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 2px solid #d62121;
}
.ctype{
    color: 	#FFD700;
}
.wc{
    font-size:24px;
}
.status1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: rgb(214, 33, 33);
}
.status2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: rgb(236, 157, 9);
}
.status3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: rgb(154, 205, 50);
}
.cont-p--hidden{
    display: none;
}
.tab1--hidden{
    display: none;
}
.tab2--hidden{
    display: none;
}
.tab3--hidden{
    display: none;
}
.cont--hidden{
    display: none;
}


.cafa1--hidden, .cafa2--hidden, .cafa3--hidden{
    display: none;
}
.cal1--hidden, .cal2--hidden, .cal3--hidden, .cal4--hidden{
    display: none;
}
.cba1--hidden, .cba2--hidden, .cba3--hidden, .cba4--hidden, .cba5--hidden{
    display: none;
}
.ccje1--hidden, .ccje2--hidden, .ccje3--hidden{
    display: none;
}
.chtm1--hidden, .chtm2--hidden{
    display: none;
}
.cict1--hidden, .cict2--hidden, .cict3--hidden{
    display: none;
}
.cit1--hidden, .cit2--hidden, .cit3--hidden, .cit4--hidden, .cit5--hidden, .cit6--hidden, .cit7--hidden, .cit8--hidden, .cit9--hidden, .cit10--hidden, .cit11--hidden{
    display: none;
}
.claw1--hidden, .claw2--hidden{
    display: none;
}
.cn1--hidden{
    display: none;
}
.coe1--hidden, .coe2--hidden, .coe3--hidden, .coe4--hidden, .coe5--hidden, .coe6--hidden, .coe7--hidden, .coe8--hidden{
    display: none;
}
.coed1--hidden, .coed2--hidden, .coed3--hidden, .coed4--hidden, .coed5--hidden, .coed6--hidden, .coed7--hidden, .coed8--hidden, .coed9--hidden, .coed10--hidden, .coed11--hidden, .coed12--hidden{
    display: none;
}
.cs1--hidden, .cs2--hidden, .cs3--hidden, .cs4--hidden, .cs5--hidden, .cs6--hidden{
    display: none;
}
.cser1--hidden, .cser2--hidden{
    display: none;
}
.cssp1--hidden, .cssp2--hidden, .cssp3--hidden{
    display: none;
}
.gs1--hidden, .gs2--hidden, .gs3--hidden, .gs4--hidden, .gs5--hidden, .gs6--hidden, .gs7--hidden, .gs8--hidden, .gs9--hidden, .gs10--hidden, .gs11--hidden, .gs12--hidden, .gs13--hidden{
    display: none;
}
