.msg {
    color: rgb(221, 5, 5);
}

.lgcontain--hidden {
    display: none;
}

.regcontain--hidden {
    display: none;
}

.studentcon--hidden {
    display: none;
}

.employeecon--hidden {
    display: none;
}

.visitorcon--hidden {
    display: none;
}

.actionBtns {
    width: 90%;
    background-color: royalblue;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.actionBtn {
    padding: 1em;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.moveBtn {
    position: absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.2s ease-in-out;
}

.rightBtn {
    transform: translateX(98%);
    transition: all 0.2s ease-in-out;
}

.rightBtn2 {
    transform: translateX(180%);
    transition: all 0.2s ease-in-out;
}

/* .button_container{
    width: 90%;
    background-color: royalblue;
    margin: 2em;
    display: flex;
    justify-content: center;
} */
.moveBtn2 {
    position: absolute;
    width: 35%;
    height: 88%;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #fff;
    font-size: 0.7em;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.2s ease-in-out;
}


/*  */

html,
body {
    height: 100%;
}

body {
    background-image: url("../resources/bulsu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.glass-effect {
    background: linear-gradient(1deg, rgb(27 27 27 / 81%), rgb(255 129 129 / 0%));
    backdrop-filter: blur(3px);

}

.form-signin {
    max-width: 430px;
    padding: 15px 63px;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
