nav {
    background-image: url("../resources/bulsu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.init {
    font-size: 27px;
}

.navbar-brand {
    font-family: 'Open Sans';
}
.glass-effect {
    background: linear-gradient(1deg, rgb(27 27 27 / 81%), rgb(255 129 129 / 0%));
    backdrop-filter: blur(3px);

}