*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: #fff;
}
  body{
    background-color: #840E0E;
    background-image: url(../resources/bg1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
  }
  button{
    background-color: #d62121;
    font-size: 16px;
    padding: 9px 23px;
    border-radius: 12px;
    border: 2px solid #d62121;
  }
  .blur{
    background: rgba(132, 14, 14, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 2px solid #d62121;
  }